body{
 color: white;
 background-color: black;
 font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 190px;
    height: 270px;
    border-radius: 50%;
    border: 5px solid darkgray;
}

.center{
    text-align: center;
}

h1{
    color: darkslategray;
}

footer img{
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}